head,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  /* color: #7F7348; */
  color: #4F4F4D;
  letter-spacing: 0.01em;
}

a {
  text-decoration: none;
  text-transform: lowercase;
  color: #4F4F4D;
  font-weight: bold;
  font-size: 1.17em;
}

.main-container {
  margin: auto;
  /* padding: 0 1em; */
  width: 50em;
  height: 31.5em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 4px;
  background-color: #fff;
  /*
  border: 1px solid #FFD644;
  box-shadow: 3px 3px 0 #FFD644;
  */
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  clear: both;
}

.quiz-header h1 {
  font-size: 2.8em;
  margin: 0.67em 0 0 0;
}

.col-1-2 {
  width: 50%;
  float: left;
}

.title-text,
.intro {
  text-align: center;
}

.title-text {
  margin: 0.7em 0;
  text-transform: uppercase;
}

.intro {
  text-transform: lowercase;
}

.subtitle-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.hide {
  display: none;
}

.btn {
  padding: 0.5em 2em 0.8em 2em;
  margin: 0;
  position: absolute;
  top: 87%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border: 0;
  border-radius: 4px;
  background-color: #FFD644;
  box-shadow: 3px 3px 0 #CCAB37;
}

.question-container {
  margin: 1em 0 0 0;
}

.question-char p {
  font-family: 'MS Mincho', 'MS PMincho', serif;
  font-size: 25em;
  margin: 0 auto;
  /* display: block; */
  border-radius: 4px;
}

.answers {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 2em 0 0 0;
}

.answers li {
  padding: 1.5% 3%;
  margin: 2.2% 0;
  font-size: 2.45em;
  border-radius: 4px;
  background-color: #FFD644;
  box-shadow: 0 3px 0 #CCAB37;
}

.answers li:hover {
  background-color: #FFE790;
  transition: all linear 0.15s
}

.answers li:active {
  transform: translate(0, 5px);
  box-shadow: none;
  transition: all linear 0.09s
}

.progress-tracker {
  background-color: pink;
  border-radius: 4px;
  text-align: center;
}

.progress-tracker p {
  margin: 1%;
}

.results-container {
  text-align: center;
}
