head,
body {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  color: #4F4F4D;
  letter-spacing: 0.01em;
}

/* Main container */
.main-container {
  margin: auto;
  width: 50em;
  height: 33.9em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 4px;
  background-color: #fff;
  /* border: 1px solid black; */
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  clear: both;
}

/* Big title text */
.title-text {
  font-size: 2.8em;
  text-transform: uppercase;
}

.title-text,
.intro {
  text-align: center;
  margin: 0.7em 0 -0.1em 0;
}

/* Introduction text */
.intro {
  text-transform: lowercase;
}

.hide {
  display:none;
}

/* Subtitle text */
.subtitle-text {
  margin: 0;
  position: absolute;
  top: 46.2%;
  left: 50%;
  transform: translate(-50%, -50%)
}

/* 1/2 .main-container width column */
.col-1-2 {
  width: 50%;
  float: left;
}

/* Question container */
.question-container {
  margin: 1em 0 0 0;
}

/* Centers 'start' button */
.center {
  padding: 0;
  position: absolute;
  top: 71.7%;
  left: 25%;
}

/* Big Kanji characters */
.question-char p {
  font-family: 'MS Mincho', 'MS PMincho', serif;
  font-size: 12.5em;
  padding: 0.47em 0 0.53em 0;
  margin: 0 auto;
  /* display: block; */
  border-radius: 4px;
}

/* Hiragana answers */
.choices {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 2em 0 0 0;
  text-transform: lowercase;
}

.button {
  padding: 2.5% 3%;
  margin: 2.2% 0;
  font-size: 2.45em;
  border-radius: 4px;
  color: #fff;
  background-color: #7F7F7F;
  box-shadow: 0 3px 0 #4F4F4D;
  transition: all linear 0.15s;
  text-decoration: none;
  display: block;
}

.button:hover {
  color: #4F4F4D;
  background-color: #C4C4C4;
  transition: all linear 0.15s
}

.button:active {
  transform: translate(0, 3px);
  box-shadow: none;
  transition: all linear 0.09s
}

/* Full .main-container width column */
.col-1-1 {
  width: 100%;
  float: left;
}

/* Progress bar */
.progress-tracker {
  height: 3px;
  background-color: #C4C4C4;
  border-radius: 3px;
}

.progress {
  display: block;
  border-radius: 3px;
  /* background-color: green; */
  height: 100%;
  /* width: 10%; */
}

/* Quiz results */
.results-container {
  text-align: center;
}
